Flask==2.3.3
flask-cors==6.0.0
Pillow==10.3.0
gunicorn==23.0.0
opencv-python-headless==4.8.0.76
numpy==1.25.2
torch==2.8.0
torchvision==0.16.0
ultralytics==8.0.200
easyocr==1.7.0
scikit-learn==1.5.0
webcolors==1.13
requests==2.32.4